<div>All Student List</div>

<div class = "container ">

<div class = "col-md-8 ">
   <table class="table">
  <tbody>
    {{#each student}} 
        <tr> 
            <td><img src={{imageUrl}} alt={{firstname}} style="width: 400px;height: 400px"></td> 
           <td>{{firstname}} {{lastname}} <br />
           {{regno}} {{dob}} <br />
           {{school}} {{department}}</td>
        </tr> 
        {{/each}}

  </tbody>
</table>
</div>

<a class="btn btn-success " href="/">Done</a>

</div>