<div class="container">
<h3>Student details</h3>
<img src={{student.imageUrl}} alt="" style="width: 120px; height: 100px">
<ul class="list-group">
  <li class="list-group-item"><strong>First Name: </strong> {{student.firstname}}</li>
  <li class="list-group-item"><strong>Lastname: </strong> {{student.lastname}}</li>
  <li class="list-group-item"><strong>Registration No.: </strong> {{student.regno}}</li>
  <li class="list-group-item"><strong>Email: </strong> {{student.email}}</li>
  <li class="list-group-item"><strong>Sex: </strong> {{student.sex}}</li>
  <li class="list-group-item"><strong>School: </strong> {{student.school}}</li>
  <li class="list-group-item"><strong>Department: </strong> {{student.department}}</li>
  <li class="list-group-item"><strong>Level: </strong> {{student.level}}</li>
</ul> <br />



<form method="PUT" action="/students/edit">
  <input type="submit" class="btn btn-info " value="Edit">
</form> <br />

<form method="POST" action="/students/delete/{{student.regno}}?_method=DELETE">
  <input type="submit" class="btn btn-danger " value="Delete">
</form><br />
<a class="btn btn-success " href="/">Done</a>
</div><br />